absl-py
aioice
aiortc
altair
annotated-types
astunparse
attrs
av
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
cryptography
cymem
dnspython
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-crc32c
google-pasta
grpcio
h5py
idna
ifaddr
Jinja2
jsonschema
jsonschema-specifications

langcodes
language_data
libclang
marisa-trie
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
murmurhash
namex
numpy
oauthlib
opencv-contrib-python-headless
opencv-python-headless
opt-einsum
optree
packaging
pandas
pathlib
pillow
preshed
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pyee
Pygments
pylibsrtp
pyOpenSSL
python-dateutil
pytz
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
streamlit-webrtc
tenacity
tensorboard

termcolor
thinc
toml
toolz
tornado
tqdm
typer
typing_extensions>
tzdata
urllib3
wasabi
watchdog
weasel
Werkzeug
wrapt




keras==2.13.1
keras-models==0.0.7
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.37.0